# ===============================
# Java / Maven
# ===============================
Backend/target/
Backend/.idea/
Backend/*.iml

# ===============================
# Node / React
# ===============================
Frontend/node_modules/
Frontend/dist/

# ===============================
# Environment files
# ===============================
.env
.env.*
Frontend/.env
Frontend/.env.*
Backend/.env
Backend/.env.*

# ===============================
# IDE
# ===============================
.idea/
.vscode/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db